@{
    ViewData["Title"] = "Profile";
}

<h4>@ViewData["Title"]</h4>

<div class="body-content">
    <div class="form-group">
        <label>Old Password</label>
        <input class="form-control" type="password" data-bind="value: OldPassword" />
    </div>
    <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" data-bind="value: Password"/>
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input class="form-control" type="password" data-bind="value: ConfirmPassword"/>
    </div>
    <button data-bind="click: ChangePassword">Change Password</button>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/knockout/dist/knockout.js"></script>
<script src="~/js/manage.js" asp-append-version="true"></script>
