@model Twikker.Web.Models.HomeViewModels.IndexViewModel

@using Twikker.Data.Models
@{
    ViewData["Title"] = "Home Page";
    var posts = (List<TwikkerPost>)ViewData["Posts"];
}

@*<div class="row">
    <div class="col-md-4">
        <form asp-action="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPostContent">Input</label>
                <input asp-for="NewPostContent" class="form-control" id="newPostContent" value="" />
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<hr/>*@

<div class="body-content">
    <div>
        <textarea data-bind="value: NewPost" placeholder="Say something..."></textarea>
        <button data-bind="click: CreatePost">Submit</button>
    </div>
    

    <div id="postList" data-bind="foreach: Posts">
        <div class="post-box">
            <div class="post">
                <h4 data-bind="text: Owner"></h4>
                <p class="time" data-bind="text: PostDate"></p>
                <p data-bind="text: Content"></p>
                <div class="like-area">
                    <button class="like-button" data-bind="click: LikePost">Like</button>
                    <p class="like-counter" data-bind="text: LikeCount"></p>
                </div>
            </div>
            <div class="comment-box">
                <div class="new-comment">
                    <textarea class="new-comment-textarea" data-bind="value: NewComment" placeholder="Enter a comment..."></textarea>
                    <button data-bind="click: CommentPost">Comment</button>
                </div>
                <div id="commentList" data-bind="foreach: Comments">
                    <div class="comment">
                        <p data-bind="text: CommentOwner"></p>
                        <p class="time" data-bind="text: CommentPostDate"></p>
                        <p data-bind="text: CommentContent"></p>
                        <div class="like-area">
                            <button class="like-button" data-bind="click: LikeComment">Like</button>
                            <p class="like-counter" data-bind="text: CommentLikeCount"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<button id="btnLoadMore" onclick="loadMore()">Load more</button>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/knockout/dist/knockout.js"></script>
<script src="~/js/index.js" asp-append-version="true"></script>