@using Twikker.Data.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="body-content">
    <div>
        <textarea data-bind="value: NewPost" placeholder="Say something..."></textarea>
        <button data-bind="click: CreatePost">Submit</button>
    </div>

    <div id="postList" data-bind="foreach: Posts">
        <div class="post-box">
            <div class="post">
                <h4 data-bind="text: Owner"></h4>
                <p class="time" data-bind="text: PostDate"></p>
                <p data-bind="text: Content"></p>
                <div class="like-area">
                    <button class="like-button" data-bind="click: LikePost">Like</button>
                    <p class="like-counter" data-bind="text: LikeCount, visible: LikeCountVisible"></p>
                </div>
            </div>
            <div class="comment-box">
                <div class="new-comment">
                    <textarea class="new-comment-textarea" data-bind="value: NewComment, limitCharacters: 300, valueUpdate: 'afterkeydown'" placeholder="Enter a comment..."></textarea>
                    <button data-bind="click: CommentPost">Comment</button>
                    <p data-bind="text: TextCounter"></p>
                </div>
                <div id="commentList" data-bind="foreach: Comments">
                    <div class="comment">
                        <p data-bind="text: CommentOwner"></p>
                        <p class="time" data-bind="text: CommentPostDate"></p>
                        <p data-bind="text: CommentContent"></p>
                        <div class="like-area">
                            <button class="like-button" data-bind="click: LikeComment">Like</button>
                            <p class="like-counter" data-bind="text: CommentLikeCount, visible: LikeCountVisible"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button id="btnLoadMore" data-bind="click: LoadMore">Load more</button>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/knockout/dist/knockout.js"></script>
<script src="~/js/index.js" asp-append-version="true"></script>